@font-face {
  font-family: 'Suisse Intl';
  src: url('/my-website/fonts/SuisseIntl-Regular-WebM.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/my-website/fonts/SuisseIntl-Medium-WebM.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/my-website/fonts/SuisseIntl-SemiBold-WebM.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} 