---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Anton Sten">
  <div class="prose mx-auto">
    <h1 class="h1 mb-24">I make digital products work</h1>
    
    <h3 class="body-xxl mb-24">I know it's a bold statement, but I have the experience and knowledge to back it up.</h3>
    
    <div class="space-y-6">
      <p class="body-lg">
        My background in both design and business uniquely positions me to help your company find the right solutions for your digital products. I'm not just here to make your product look pretty—I'm here to make it work. Happy users lead to profitable businesses. I've always believed in the human element of design and truly understanding your audience. Your users want a great experience with your brand, and I can make that happen.
      </p>

      <p class="body-lg">
        I've been creating digital products for over 20 years (yes, that IS a lot of websites). During this time, I've helped major brands deliver exceptional user experiences by understanding their audience and carefully balancing design, product planning, copywriting, and more.
      </p>

      <p class="body-lg">
        When I'm not working, I love to travel, hang out with my fiancé and our dog Taylor (named after Taylor Swift—who else?) in our garden, and settle in to watch my favorite team, Liverpool, play.
      </p>

      <p class="body-lg">
        Ultimately, I really value being around great people.
      </p>
    </div>
  </div>
</Layout> 