---
import Layout from '../layouts/Layout.astro';
import Testimonial from '../components/Testimonial.astro';
---

<Layout title="Work - Anton Sten">
    <div class="max-w-[700px] mx-auto px-8 sm:px-6 mt-[20vh]">
        <h1 class="text-black font-medium text-[48px] leading-[1.2] tracking-[-0.02em] sm:text-display mb-40">Work</h1>

        <h3 class="body-xxl mb-12">My personal mission has always been to create solutions that connect companies and their customers in meaningful ways. I'm proud of the many user-focused experiences I've helped create that resulted in happy customers with significantly more profit for the business.</h3>
        <p class="body-lg mb-12">
            My background in both design and business uniquely positions me to help your company find the right solutions for your digital products. I'm not just here to make your product look pretty—I'm here to make it work. Happy users lead to profitable businesses. I've always believed in the human element of design and truly understanding your audience. Your users want a great experience with your brand, and I can make that happen.
          </p>
    <!---
          <p class="body-lg mb-12">
            I've been creating digital products for over 20 years (yes, that IS a lot of websites). During this time, I've helped major brands deliver exceptional user experiences by understanding their audience and carefully balancing design, product planning, copywriting, and more.
          </p>
     -->
          <p class="body-lg mb-24">
        Currently not looking for new opportunities.
        </p>

            <!-- Work Experience -->
        <section class="mt-40">
            <h2 class="text-2xl font-bold mb-12">Client Experience</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8">
                <div class="space-y-1">
                    <div>
                        <h3 class="body-lg font-medium">Alight</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">AMF Pension</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Apotek Hjärtat</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Assa Abloy</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Bark</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Bates Y&R</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Bea Åkerlund</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">CDON</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Clas Ohlson</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">E.On</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">ELLE</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">FJORD</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Forward Operators</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Frank Body</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Front Gate Tickets</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Herman Miller</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">HOPE</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Hyper Island</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">ICA</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">IKEA</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Karma</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Lateral UK</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Liftoff</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Little Plains</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Loom</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Lysa</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Malmö Högskola</h3>
                    </div>
                </div>
                <div class="space-y-1">
                    <div>
                        <h3 class="body-lg font-medium">Nationalencyklopedin</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Nudie Jeans</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Pandora</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Product</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Spotify</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Starring</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Summer Health</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Suzuki</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Swedbank</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Svenska Kyrkan</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Tiger of Sweden</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Titan Space</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Toast</h3>
                    </div>
                    <div>
                        <h3 class="body-lg font-medium">Tradestation</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">ueno</h3>
                    </div>
                    <div class="mt-8">
                        <h3 class="body-lg font-medium">Volvo</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
</Layout> 