---
import Layout from '../layouts/Layout.astro';
import Testimonial from '../components/Testimonial.astro';
---

<Layout title="Work - Anton Sten">
    <div class="max-w-[700px] mx-auto px-8 sm:px-6 mt-[20vh]">
        <h1 class="text-black font-medium text-[48px] leading-[1.2] tracking-[-0.02em] sm:text-display mb-40">Work</h1>

        <h3 class="body-xxl mb-24">My personal mission has always been to create solutions that connect companies and their customers in meaningful ways. I'm proud of the many user-focused experiences I've helped create that resulted in happy customers with significantly more profit for the business.</h3>


            <!-- Work Experience -->
        <section class="mt-40">
            <h2 class="text-2xl font-bold mb-12">Work Experience</h2>
          <div class="space-y-8">
                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Summer Health</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Head of Design</p>
                        </div>
                        <p class="text-dark-grey">2022-Present</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Forward Operators</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design</p>
                        </div>
                        <p class="text-dark-grey">2023</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Front Gate Tickets</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2023</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Loom</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Design system</p>
                        </div>
                        <p class="text-dark-grey">2023</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Titan Space</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Head of User Experience</p>
                        </div>
                        <p class="text-dark-grey">2022</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Tradestation</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2022</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Product</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Head of User Experience</p>
                        </div>
                        <p class="text-dark-grey">2021-2022</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Alight</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2020</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Barkbox</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">App strategy</p>
                        </div>
                        <p class="text-dark-grey">2020</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Herman Miller</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">UX director</p>
                        </div>
                        <p class="text-dark-grey">2020</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Karma</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2020</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Hyper Island</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Speaker</p>
                        </div>
                        <p class="text-dark-grey">2005-2019</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">IKEA</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2019</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Toast</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design</p>
                        </div>
                        <p class="text-dark-grey">2019</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Apotek Hjärtat</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2018</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">E.on</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2018</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Nationalencyklopedin</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Design system</p>
                        </div>
                        <p class="text-dark-grey">2018</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">E.on</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2014-2017</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Frank Body</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Purchasing experience optimization</p>
                        </div>
                        <p class="text-dark-grey">2017</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">ICA</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design</p>
                        </div>
                        <p class="text-dark-grey">2015</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Nudie Jeans</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2015</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Swedbank</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design</p>
                        </div>
                        <p class="text-dark-grey">2015</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Volvo</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design</p>
                        </div>
                        <p class="text-dark-grey">2014</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">HOPE</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2013</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">IKEA</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2012</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">FJORD</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design</p>
                        </div>
                        <p class="text-dark-grey">2011</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">IKEA</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Product design lead</p>
                        </div>
                        <p class="text-dark-grey">2011</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Bates Y&R</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Senior Art Director</p>
                        </div>
                        <p class="text-dark-grey">2008-2009</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">ANR.BBDO</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Web Director</p>
                        </div>
                        <p class="text-dark-grey">2006-2008</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Starring</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Art Director</p>
                        </div>
                        <p class="text-dark-grey">2004-2006</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Projector</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Designer</p>
                        </div>
                        <p class="text-dark-grey">2002-2004</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Lateral UK</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Design intern</p>
                        </div>
                        <p class="text-dark-grey">2001</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Mios e-solutions</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Designer</p>
                        </div>
                        <p class="text-dark-grey">1999-2000</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>

                <div>
                    <div class="flex justify-between items-start">
                        <div>
                            <h3 class="body-lg font-medium">Bock's Office</h3>
                            <p class="body-lg text-dark-grey -mt-0.5">Web designer</p>
                        </div>
                        <p class="text-dark-grey">1997-1999</p>
                    </div>
                    <div class="h-px bg-light-grey mt-8"></div>
                </div>
            </div>
        </section>
    </div>
</Layout> 