<div class="px-[20px] pb-[20px] pt-[40px]">
  <footer class="bg-light-grey/90 backdrop-blur-sm rounded-xl">
    <div class="px-[20px] py-[8px]">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
        <div class="text-[14px] text-black font-semibold">
          <p>This website uses no cookies and no tracking. Like the web should be <span class="text-black">❤️</span></p>
        </div>
        
        <nav>
          <ul class="flex flex-wrap gap-2">
            <li><a href="/colophon" class="text-[14px] text-black hover:bg-white px-4 py-1 rounded-lg transition-colors flex items-center gap-2 font-semibold">
              Colophon
            </a></li>
            <li><a href="https://bsky.app/profile/antonsten.com" target="_blank" rel="noopener noreferrer" class="text-[14px] text-black hover:bg-white px-4 py-1 rounded-lg transition-colors flex items-center gap-2 font-semibold">
              Bluesky
            </a></li>
            <li><a href="https://instagram.com/antonsten" target="_blank" rel="noopener noreferrer" class="text-[14px] text-black hover:bg-white px-4 py-1 rounded-lg transition-colors flex items-center gap-2 font-semibold">
              Instagram
            </a></li>
            <li><a href="https://linkedin.com/in/antonsten" target="_blank" rel="noopener noreferrer" class="text-[14px] text-black hover:bg-white px-4 py-1 rounded-lg transition-colors flex items-center gap-2 font-semibold">
              Linkedin
            </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</div> 